{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Kotak Masukkan - Mulai Gym{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mx-auto" style="margin: 1rem 6rem 7rem 6rem;">
        <div class="bg-transparent p-4">
            <h2 class="mb-4 text-white fw-bold text-center">Kotak Masukkan</h2>
            <p class="text-white text-center mb-4">
                Punya kritik, saran, atau pertanyaan? Sampaikan di sini ya!
            </p>
            <div class="bg-transparent text-white">
                <form method="post">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label text-white fw-bold">
                                {{ field.label }}
                            </label>
                            {{ field|add_class:"form-control bg-transparent text-white border-light" }}
                            {% if field.errors %}
                                <div class="text-danger fw-bold fst-italic">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-secondary" style="width: 66%;">Kirim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 